// (1.2) variables

// figtree google font source
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");

// font family
$figtree: "Figtree", sans-serif;

// theme default
$theme-font: $figtree;
$theme-bg: #2e2a2a;
$theme-color: #ffffff;

// colors
$white: #ffffff;
$black: #000000;
$primary-color: #b1601a;

// transitions
$transition: all 0.2s ease-out;
