/* ==== 
 --------- (4.2) hero section styles start ---------
 ==== */

.hero {
  .section__inner {
    .anim {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      transform: scale(3) rotate(0deg);
      filter: blur(3px);
      animation: rotate 40s infinite;
    }

    .section__inner-content {
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right 5% top 100%;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background-color: #00000090;
      }

      .hero__content {
        position: relative;
      }
    }
  }

  .hero__popup {
    width: 60px;
    height: 60px;
    background-color: $primary-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: 0px 20px 50px 0px;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      background-color: #b1601a50;
      border-radius: 50%;
      z-index: -1;
      animation: waves 8s infinite linear;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      background-color: #b1601a60;
      border-radius: 50%;
      z-index: -1;
      animation: waves 3.6s infinite linear;
      animation-delay: 0.3s;
    }
    i {
      font-size: 20px;
      color: $theme-color;
    }
  }

  .hero__subtitle {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    color: $white;
    margin-bottom: 30px;
  }

  .hero__title,
  .hero__title > span {
    font-size: 109px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary-color;
    letter-spacing: 3px;
    margin-bottom: 37px;
    &::first-letter {
      margin-left: -3px;
    }
  }

  .hero__text {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .hero__cta {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;

    .cmn-button {
      padding: 15px 30px;
      background-color: $primary-color;
      border-radius: 5px;
      letter-spacing: 2px;
      &:hover {
        color: $white;
      }
    }

    a {
      &:hover {
        color: $white;
      }
    }

    .arrow-down.icon {
      color: $primary-color;
      position: relative;
      margin-left: 10px;
      margin-top: 2px;
      width: 1px;
      height: 16px;
      background-color: currentColor;
    }

    .arrow-down.icon:before {
      content: "";
      position: absolute;
      left: -5px;
      top: 3px;
      width: 10px;
      height: 10px;
      border-top: solid 1px currentColor;
      border-right: solid 1px currentColor;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }
}

.animated-icon {
  animation: animate-icon 3.6s linear infinite;
}

@keyframes animate-icon {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes rotate {
  0% {
    transform: scale(3) rotate(0deg);
  }
  100% {
    transform: scale(3) rotate(360deg);
  }
}

@keyframes waves {
  0% {
    transform: translate(-50%, -50%) scale(0.5, 0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(0.8, 0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }
}

/* ==== 
 --------- (4.2) hero section styles end ---------
 ==== */
